/**********************************************************************
Citation entries
**********************************************************************/

ul.citation_list {
    list-style-type: none;
}

@media only screen and (max-width: 768px) {
    ul.citation_list {
        padding-inline-start
    }
}

li.citation_entry {
    padding-left: 1%;
    padding-right: 1%;
    border-width: 2px;
    border-style: none;
    line-height: 1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
    li.citation_entry {
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.3);
    }
}

/* These remove the spacing between title and authors/year */
.bib p.title {
    margin-bottom: 0; /* Remove spacing below the title paragraph */
    font-weight: bold;
}
.bib p.title_details {
    margin-top: 0; /* Remove spacing above paragraphs except for the first one */
    color: var(--grey1);
}
.bib {
    margin-bottom: 10px; /* Add spacing after the .bib div */
}

@media (prefers-color-scheme: dark) {
    .bib p.title_details {
        color: var(--grey2);
    }
}
