/**********************************************************************
Overwrite site style
**********************************************************************/

body {
    max-width: 80%;
}

.centered {
    width: 50%; /* Adjust the width as needed */
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    body {
        max-width: 95%;
        margin-left: 0;
        margin-right: 0;
    }
}


/**********************************************************************
Index search
**********************************************************************/

.highlight {
    background-color: yellow;
}

@media (prefers-color-scheme: dark) {
    .highlight {
        color: var(--base02)
    }
}

/**********************************************************************
Blockquotes
**********************************************************************/

blockquote {
  font-family:serif;
  font-style:italic;
  padding:1%;
  margin-inline:0px;
  border-left:8px solid var(--green) ;
  line-height:1;
  position: relative;
  background:var(--base2);
}

@media (prefers-color-scheme: dark) {
    blockquote {
        background:var(--base02);
    }
}
/**********************************************************************
List items
**********************************************************************/

ul.citation_list {
    list-style-type: none;
}

@media only screen and (max-width: 768px) {
    ul.citation_list {
        padding-inline-start
    }
}

li.citation_entry {
    background-color: var(--base3);
    padding-left: 1%;
    padding-right: 1%;
    border-width: 2px;
    border-style: none;
    line-height: 1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
    li.citation_entry {
        background-color: var(--base03);
    }
}

/* These remove the spacing between title and authors/year */
.bib p.title {
    margin-bottom: 0; /* Remove spacing below the title paragraph */
    font-weight: bold;
}
.bib p.title_details {
    margin-top: 0; /* Remove spacing above paragraphs except for the first one */
    color: var(--base0);
}
.bib {
    margin-bottom: 10px; /* Add spacing after the .bib div */
}

p.title {
}
